#### 1. Create a function to perform basic arithmetic operations that includes addition, subtraction, multiplication and division on a string number (e.g. "12 + 24" or "23 - 21" or "12 // 12" or "12 * 21").
Here, we have 1 followed by a space, operator followed by another space and 2. For the challenge, we are going to have only two numbers between 1 valid operator. The return value should be a number.
eval() is not allowed. In case of division, whenever the second number equals "0" return -1.<br>
For example: "15 // 0"  ➞ -1<br><br>
**Examples:**<br>
arithmetic_operation("12 + 12") ➞ 24 // 12 + 12 = 24<br>
arithmetic_operation("12 - 12") ➞ 24 // 12 - 12 = 0<br>
arithmetic_operation("12 * 12") ➞ 144 // 12 * 12 = 144<br>
arithmetic_operation("12 // 0") ➞ -1 // 12 / 0 = -1

In [5]:
import operator

def arithmetic_operation(string):
    operation = {'+':operator.add,'-':operator.sub,'*':operator.mul,'//':operator.floordiv}
    val = string.split(' ')
    result = operation[val[1]](int(val[0]), int(val[2])) if int(val[2]) != 0 else -1
    print(f'arithmetic_operation({val[0]} {val[1]} {val[2]}) ➞ {result}')
    
arithmetic_operation("12 + 12")
arithmetic_operation("12 - 12")
arithmetic_operation("12 * 12")
arithmetic_operation("12 // 0")

arithmetic_operation(12 + 12) ➞ 24
arithmetic_operation(12 - 12) ➞ 0
arithmetic_operation(12 * 12) ➞ 144
arithmetic_operation(12 // 0) ➞ -1

#### 2. Write a function that takes the coordinates of three points in the form of a 2d array and returns the perimeter of the triangle. The given points are the vertices of a triangle on a two-dimensional plane.
**Examples:**<br>
perimeter( [ [15, 7], [5, 22], [11, 1] ] ) ➞ 47.08<br>
perimeter( [ [0, 0], [0, 1], [1, 0] ] ) ➞ 3.42<br>
perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) ➞ 68.28

In [7]:
import math

def perimeter(seq):
    peri = math.dist(seq[0], seq[1]) + math.dist(seq[1], seq[2]) + math.dist(seq[2], seq[0])
    print(f'perimeter({seq}) ➞ {peri:.2f}')

perimeter([[15,7],[5,22],[11,1]])
perimeter([[0,0],[0,1],[1,0]])
perimeter([[-10,-10],[10,10],[-10,10]])

perimeter([[15, 7], [5, 22], [11, 1]]) ➞ 47.08
perimeter([[0, 0], [0, 1], [1, 0]]) ➞ 3.41
perimeter([[-10, -10], [10, 10], [-10, 10]]) ➞ 68.28

#### 3. A city skyline can be represented as a 2-D list with 1s representing buildings. In the example below, the height of the tallest building is 4 (second-most right column).
[[0, 0, 0, 0, 0, 0],<br>
[0, 0, 0, 0, 1, 0],<br>
[0, 0, 1, 0, 1, 0],<br>
[0, 1, 1, 1, 1, 0],<br>
[1, 1, 1, 1, 1, 1]]<br><br>
Create a function that takes a skyline (2-D list of 0's and 1's) and returns the height of the tallest skyscraper.<br><br>
**Examples:**<br>
tallest_skyscraper([[0, 0, 0, 0],[0, 1, 0, 0],[0, 1, 1, 0],[1, 1, 1, 1]]) ➞ 3<br>
tallest_skyscraper([[0, 1, 0, 0],[0, 1, 0, 0],[0, 1, 1, 0],[1, 1, 1, 1]]) ➞ 4<br>
tallest_skyscraper([[0, 0, 0, 0],[0, 0, 0, 0],[1, 1, 1, 0],[1, 1, 1, 1]]) ➞ 2

In [9]:
def tallest_skyscraper(seq):
    row = len(seq)
    col = len(seq[0])
    max_ = 0

    for i in range(col):
        count = 0
        for j in range(row):
            count += seq[j][i]
        if  count > max_:
            max_ = count
    print(f'tallest_skyscraper({seq}) ➞ {max_}')
        
tallest_skyscraper([[0, 0, 0, 0],[0, 1, 0, 0],[0, 1, 1, 0],[1, 1, 1, 1]])
tallest_skyscraper([[0, 1, 0, 0],[0, 1, 0, 0],[0, 1, 1, 0],[1, 1, 1, 1]])
tallest_skyscraper([[0, 0, 0, 0],[0, 0, 0, 0],[1, 1, 1, 0],[1, 1, 1, 1]])

tallest_skyscraper([[0, 0, 0, 0], [0, 1, 0, 0], [0, 1, 1, 0], [1, 1, 1, 1]]) ➞ 3
tallest_skyscraper([[0, 1, 0, 0], [0, 1, 0, 0], [0, 1, 1, 0], [1, 1, 1, 1]]) ➞ 4
tallest_skyscraper([[0, 0, 0, 0], [0, 0, 0, 0], [1, 1, 1, 0], [1, 1, 1, 1]]) ➞ 2

#### 4. A financial institution provides professional services to banks and claims charges from the customers based on the number of man-days provided. Internally, it has set a scheme to motivate and reward staff to meet and exceed targeted billable utilization and revenues by paying a bonus for each day claimed from customers in excess of a threshold target.
This quarterly scheme is calculated with a threshold target of 32 days per quarter, and the incentive payment for each billable day in excess of such threshold target is shown as follows:

<table>
  <tr>
    <th>Days</th>
    <th>Bonus</th>
  </tr>
  <tr>
    <td>0 to 32 days </td>
    <td>Zero</td>
  </tr>
  <tr>
    <td>33 to 40 days</td>
    <td>SGD$325 per billable day </td>
  </tr>
    <tr>
    <td>41 to 48 days</td>
    <td>SGD$550 per billable day</td>
  </tr>
    <tr>
    <td>Greater than 48 days</td>
    <td>SGD$600 per billable day</td>
  </tr>
</table>

Please note that incentive payment is calculated progressively. As an example, if an employee reached total billable days of 45 in a quarter, his/her incentive payment is computed as follows:
32\*0 + 8\*325 + 5\*550 = 5350<br>
Write a function to read the billable days of an employee and return the bonus he/she has obtained in that quarter.

**Examples:**<br>
bonus(15) ➞ 0<br>
bonus(37) ➞ 1625<br>
bonus(50) ➞ 8200

In [11]:
def bonus(num):
    if num > 48:
        output = 0+(8*325)+(8*550)+((num-48)*600)
    elif num < 48 and num >= 41:
        output = 0+(8*325)+((num-41+1)*550)
    elif num >33 and num <= 40:
        output = 0+((num-33+1)*325)
    else:
        output = 0
    print(f'bonus({num}) ➞ {output}')
        
bonus(15)
bonus(37)
bonus(50)

bonus(15) ➞ 0
bonus(37) ➞ 1625
bonus(50) ➞ 8200

#### 5. A number is said to be Disarium if the sum of its digits raised to their respective positions is the number itself.
Create a function that determines whether a number is a Disarium or not.<br><br>
**Examples:**<br>
is_disarium(75) ➞ False<br>
\# 7^1 + 5^2 = 7 + 25 = 32<br>
is_disarium(135) ➞ True<br>
\# 1^1 + 3^2 + 5^3 = 1 + 9 + 125 = 135<br>
is_disarium(544) ➞ False<br>
is_disarium(518) ➞ True<br>
is_disarium(466) ➞ False<br>
is_disarium(8) ➞ True

In [14]:
def is_disarium(num):
    string_num = str(num)
    sum = 0
    for i in range(len(string_num)):
        sum += int(string_num[i])**(i+1)
    if num == sum:
        result = True
    else: 
        result = False
    print(f'is_disarium({num}) ➞ {result}')
    
is_disarium(75)
is_disarium(135)
is_disarium(544)
is_disarium(518)
is_disarium(466)
is_disarium(8)

is_disarium(75) ➞ False
is_disarium(135) ➞ True
is_disarium(544) ➞ False
is_disarium(518) ➞ True
is_disarium(466) ➞ False
is_disarium(8) ➞ True